In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../dataset/tables.csv')

df.describe()

,id,caption,table,footnotes,references,id_file
count,1584,1584,1584,97,1403,1584
unique,230,1578,1581,95,1309,361
top,S4.T1,"['<figcaption class=""ltx_caption ltx_centering...","<span class=""ltx_tabular ltx_guessed_headers l...","<p class=""ltx_p ltx_figure_panel"" id=""S4.SS2.S...","<p class=""ltx_p"" id=""A3.p1.1"">In this section,...",./extraction/2410.09776v1.json
freq,95,2,3,2,5,18